
<style type="text/css">
body {
display: flex;
min-height: 120vh;
flex-direction: column;
/*background-image: url("bg.jpeg");*/
}
main {
flex: 1 0 auto;
height:70%;
}
.logo{
margin-left: 10px;
}
.card-img{
width: 100px;
height: 300px;
}
img.profile-img { height: 36px; position: relative; top: 14px }
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}
small {
display: block;
line-height: 1.428571429;
color: #999;
}
.well {
background: #f0ad4e;
}
#profileCard{position:relative; left: 200px height:100px;
{{! #subTable{position:relative;} }}
</style>
</head>
<body>



  <header>
  
  <nav class="animated slideInDown">
    <div class="nav-wrapper">
      <a href="/login" class="brand-logo logo">Tutor Finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/Contact">Contact</a></li>
        <li><a href="/login">Sign In/Up</a></li>
      </ul>
    </div>
  </nav>
  </header>

  <main>




  <div class="row" id="profileCard">
    <div class="col s12 m10">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Tutor-info</span><ul>
            <li><a id="userName" class="right dropdown-button white-text text-darken-1" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="profileopt">JoeyB<img style="height:150px;" class="circle" src="https://avatars0.githubusercontent.com/u/24356249?v=3&s=40"></a></li>
          </ul>
          <div class="row">

            <div class="col s3">
              <div>
                {{#each user}}
                  {{user.id}}
                  {{this.email}}
                {{/each}}
              </div>
            </div>

            <div class="col s3">
              <div>
                {{#each user}}
                  {{user.username}}
                  {{this.email}}
                {{/each}}
              </div>
            </div>

            <div class="col s3">
              <div>
                {{#each item}}
                  {{user.phone}}
                  {{this.email}}
                {{/each}}
              </div>
            </div>

          </div>
{{! ======= }}
{{!       <div class="row" id="profileCard"> }}
{{!         <div class="col s12 m10"> }}
{{!           <div class="card blue-grey darken-1"> }}
{{!             <div class="card-content white-text"> }}
{{!               <span class="card-title">Tutor-info</span><ul> }}
{{!                 <li><a id="userName" class="right dropdown-button white-text text-darken-1" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="profileopt">JoeyB<img style="height:150px;" class="circle" src="https://avatars0.githubusercontent.com/u/24356249?v=3&s=40"></a></li> }}
{{!               </ul> }}
{{!               <div class="row"> }}

{{!                 <div class="col s3"> }}
{{!                   <div> }}
{{!                     {{#each user}\} }}
{{!                       {{user.id}\} }}
{{!                       {{this.email}\} }}
{{!                     {{/each}\} }}
{{!                   </div> }}
{{!                 </div> }}

{{!                 <div class="col s3"> }}
{{!                   <div> }}
{{!                     {{#each user}\} }}
{{!                       {{user.username}\} }}
{{!                       {{this.email}\} }}
{{!                     {{/each}\} }}
{{!                   </div> }}
{{!                 </div> }}

{{!                 <div class="col s3"> }}
{{!                   <div> }}
{{!                     {{#each item}\} }}
{{!                       {{user.phone}\} }}
{{!                       {{this.email}\} }}
{{!                     {{/each}\} }}
{{!                   </div> }}
{{!                 </div> }}

{{!               </div> }}




              <div class="divider"></div>
              <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
                <ul id="profileopt" class="dropdown-content">
                  <li><a href="#!">My profile</a></li>
                  <li><a href="#!">Settings</a></li>
                  <li><a href="#!">Achievements</a></li>
                  <li class="divider"></li>
                  <li><a href="#!">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


{{!       <div class="container" id="subTable"> }}
{{!         <div class="avatarContent"> }}
{{!           <ul class="collection"> }}

{{!             <li class="collection-item avatar"> }}
{{!               <i class="material-icons circle">folder</i> }}
{{!               <span class="title">Title</span> }}
{{!               <p>First Line <br> }}
{{!                 Second Line }}
{{!               </p> }}
{{!               <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> }}
{{!             </li> }}


{{!             <li class="collection-item avatar"> }}
{{!               <i class="material-icons circle green">insert_chart</i> }}
{{!               <span class="title">Title</span> }}
{{!               <p>First Line <br> }}
{{!                 Second Line }}
{{!               </p> }}
{{!               <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> }}
{{!             </li> }}
{{! >>>>>>> cdaf7bbf7fe80e9f63b3276cc089490cf1914691 }}


{{!             <li class="collection-item avatar"> }}
{{!               <i class="material-icons circle red">play_arrow</i> }}
{{!               <span class="title">Title</span> }}
{{!               <p>First Line <br> }}
{{!                 Second Line }}
{{!               </p> }}
{{!               <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> }}
{{!             </li> }}


{{! <<<<<<< HEAD }}
          <div class="divider"></div>
          <div class="card-action">
            {{! <a href="#">This is a link</a> }}
            {{! <a href="#">This is a link</a> }}
            <ul id="profileopt" class="dropdown-content">
              <li><a href="#!">My profile</a></li>
              <li><a href="#!">Settings</a></li>
              <li><a href="#!">Achievements</a></li>
              <li class="divider"></li>
              <li><a href="#!">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" id="subTable">
    <div class="avatarContent">
      <ul class="collection">
        <div class="title">Appointments:
          <table>
            <tr>
              <th>Tutor:</th>
              <th>Date & Time Block</th>
              <th>Subject</th>
            </tr>
            <tr>               
              <td ><i class="material-icons circle green">insert_chart</i>{{Tutor.username}}Tutor name here</td>
              <td>Friday 6/22/17 3:00-5:00{{Appointments.date}}{{Appointments.time}}</td>
              <td>Math{{appointments.subject}}</td>
              <td><a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></td>
            </tr>
            <tr>
              <td><i class="material-icons circle green">insert_chart</i>{{Tutor.username}}Tutor name here</td>
              <td>Friday 6/22/17 3:00-5:00{{Appointments.date}}{{Appointments.time}}</td>
              <td>English{{appointments.subject}}</td>
              <td><a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></td>
            </tr>
            <tr>
              <td><i class="material-icons circle green">insert_chart</i>{{Tutor.username}}Tutor name here</td>
              <td>Friday 6/22/17 3:00-5:00{{Appointments.date}}{{Appointments.time}}</td>
              <td>Web-dev{{appointments.subject}}</td>
              <td><a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></td>
            </tr>
            <tr>
              <td><i class="material-icons circle green">insert_chart</i>{{Tutor.username}}Tutor name here</td>
              <td>Friday 6/22/17 3:00-5:00{{Appointments.date}}{{Appointments.time}}</td>
              <td>English{{appointments.subject}}</td>
              <td><a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></td>
            </tr>
            <tr>
              <td><i class="material-icons circle green">insert_chart</i>{{Tutor.username}}Tutor name here</td>
              <td>Friday 6/22/17 3:00-5:00{{Appointments.date}}{{Appointments.time}}</td>
              <td>Math{{appointments.subject}}</td>
              <td><a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></td>
            </tr>
            <tr>
              <td><i class="material-icons circle green">insert_chart</i>{{Tutor.username}}Tutor name here</td>
              <td>Friday 6/22/17 3:00-5:00{{Appointments.date}}{{Appointments.time}}</td>
              <td>Math{{appointments.subject}}</td>
              <td><a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></td>
            </tr>
          </table>    
      </ul>
        </div>
    </div>



    </main>
    <footer class="page-footer animated slideInUp" id="foot">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Deloreans
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
    });
    </script>
</body>

</html>
{{! ======= }}

{{!           </ul> }}
{{!         </div> }}
{{!       </div> }}



{{!       </main> }}
{{!       <footer class="page-footer animated slideInUp" id="foot"> }}
{{!         <div class="container"> }}
{{!           <div class="row"> }}
{{!             <div class="col l6 s12"> }}
{{!               <h5 class="white-text">Footer Content</h5> }}
{{!               <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> }}
{{!             </div> }}
{{!             <div class="col l4 offset-l2 s12"> }}
{{!               <h5 class="white-text">Links</h5> }}
{{!               <ul> }}
{{!                 <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li> }}
{{!                 <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li> }}
{{!               </ul> }}
{{!             </div> }}
{{!           </div> }}
{{!         </div> }}
{{!         <div class="footer-copyright"> }}
{{!           <div class="container"> }}
{{!             © 2017 Copyright Deloreans }}
{{!             <a class="grey-text text-lighten-4 right" href="#!">More Links</a> }}
{{!           </div> }}
{{!         </div> }}
{{!       </footer> }}
{{!       <script type="text/javascript"> }}
{{!       $(document).ready(function() { }}
{{!       $('select').material_select(); }}
{{!       }); }}
{{!       </script> }}
{{!     </body> }}

{{!       </html> }}
{{! >>>>>>> cdaf7bbf7fe80e9f63b3276cc089490cf1914691 }}
